@use "../../styles/partials/globals.scss" as *;
@use "../../styles/partials/variable.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.notes {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  @include tablet {
    flex-wrap: wrap;
  }

  &__add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    width: 390px;
  }

  &__add-content {
    background-color: $primary-four;
    height: 250px;
    width: 390px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 2px dotted $out-line-color;
    color: $font-color-dark;
  }

  &__no-results {
    @include mobile-heading-1;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-top: 1rem;

    @include tablet {
      @include tablet-heading-2;
    }
  }
}

.listh1 {
  padding-bottom: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category {
  color: black;
}

.listitem {
  flex-grow: 1;
}

.card {
  background-color: $primary-four;
  height: 250px;
  width: 390px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1rem;
}

.btn1 {
  cursor: pointer;
  background-color: $secondary;
  padding: 1rem;
  width: 100%;
  color: $text-color;
  border: none;
  text-align: center;
}

.editor {
  overflow: hidden;
}

.division {
  display: flex;
  justify-content: flex-end;
}

.custom-segment {
  &.ui.segment {
    padding: 0;
    margin: 0;
  }
  .card {
    margin: 0;
  }

  .card {
    gap: 0;
    .title {
      font-size: 24px;
      margin-bottom: 16px;
      line-height: 24px;
    }
    .editor {
      height: 100%;
      background-color: transparent;
    }
    .small {
      text-align: right;
      display: block;
      // color: adjust-color($color: $primary-two, $lightness: 20%);
      font-size: 12px;
      margin-right: 12px;
    }
  }
}
.ui.segment:last-child {
  margin-bottom: 14px !important;
}
