$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #003c43;
$primary-two: #135d66;
$primary-three: #77b0aa;
$primary-four: #F6F5F2;

$secondary: #102C57;
$secondary-two: #DAC0A3;
$secondary-twoo: #e9e3db;
$secondary-three: #EADBC8;
$secondary-four: #FEFAF6;

$text-color: #FFFFFF;

$mobile-padding: 1rem;
$tablet-padding: 36px;
