$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-four: #f6f5f2;

$secondary: #618264;
$secondary-two: #dac0a3;
$secondary-twoo: #e9e3db;
$secondary-three: #eadbc8;
$secondary-four: #fefaf6;

$text-color: #ffffff;
$font-color-dark: #12372a;

$mobile-padding: 1rem;
$tablet-padding: 36px;

$out-line-color: #ADBC9F;