$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #003c43;
$primary-two: #135d66;
$primary-three: #77b0aa;
$primary-four: #e3fef7;

$mobile-padding: 1rem;
$tablet-padding: 36px;
