@use "../../styles/partials/globals.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variable.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.ui.modal {
  width: 90%;
  height: auto;

  @include tablet {
    width: 40%;
    height: auto;
  }

  @include desktop {
    width: 600px;
    height: auto;
  }
}

.logout {
  @include btn;
  font-weight: 600;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondary;
  color: $text-color;
  padding: $mobile-padding;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem $tablet-padding;
  }

  &__title {
    @include mobile-heading-1;
    font-weight: 700;

    @include tablet {
      @include tablet-heading-1;
    }
  }
  &__user-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      padding: 0;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include tablet {
      flex-direction: row;
    }
  }

  &__userwrapper {
    flex: 1;
  }

  &__username {
    @include mobile-body-p1;
    font-weight: 700;

    @include tablet {
      @include tablet-heading-3;
    }
  }
}
