@use "../../styles/partials/globals.scss" as *;
@use "../../styles/partials/variable.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.site-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $secondary-four;
}

.error {
  color: red;
}

.form-label {
  color: $primary-four;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;

  &__btnnn {
    width: 100%;
    padding: 1rem;
    border: none;
    font-weight: 400;
    cursor: pointer;
  }
}
