@use "../../styles/partials/globals.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variable.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.footer {
  background-color: $secondary;
}
.site-footer {
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $mobile-padding;
  font-weight: 700;

  @include tablet {
    padding: 1rem $tablet-padding;
  }
}
