@use "./styles/partials/variable.scss" as *;
@use "./styles/partials/globals.scss" as *;


.w-md-editor-text-input{
    -webkit-text-fill-color: black !important;
}

#root{
    background-color: $secondary-four;
    min-height: 100vh;
    padding-bottom: 48px;
    position: relative;
}
.footer{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}